body, html { 
    height: 100%; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
}

canvas { 
    background: #000; 
    margin-top: 20px;
}

#gameUI {
    display: flex;
    justify-content: space-around;
    width: 800px; 
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

#scoreDisplay, #levelDisplay {
    font-size: 20px;
    font-weight: bold;
}
